body{background-color:#0C356A;}
h1{text-align: center;
color: aliceblue;}
p{
margin-top: 5%;
font-size: xx-large;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color:aliceblue ;}




